.img-card {
    width: 100px;
    height: auto;
    margin: auto;
    border-radius: 20px;
}

.tamanho-card {
    width: 18rem;
}

.bg-mi-menu {
    background: ;
}

.esq-r {
    border-radius: 20px;
}

.formulario {
    width: 20%;
    background-color: blue;
}

.centrar {
    margin: auto;
}
.carousel
{
height: 500px;
margin-bottom: 10px;
}
.carousel-caption
{
    margin: auto;
}

